#time
{
    text-align: center;
    color: white;
    padding: 2%;
}

#time h1
{
    font-size: 7em;
    text-shadow: 0 0 0.2em black, 0 0 0.2em #87F;
    transition: text-shadow 1s;
}

#time h2
{
    font-size: 3em;
    text-shadow: 0 0 0.2em black, 0 0 0.2em #4775FF;
    transition: text-shadow 1s;
}

#time h1:hover
{
    text-shadow: 0 0 0.2em black, 0 0 0.2em #2303FF;  
}

#time h2:hover
{
    text-shadow: 0 0 0.2em black, 0 0 0.2em #00248F;  
}

#userLocation
{
    text-align: center;
}

.weather-day
{
    text-align: center;
}

#settings
{
    text-align: right;
}

.glyphicon
{
    text-shadow: 0 0 0.2em black, 0 0 0.2em #87F;
    font-size: 2em;
    padding: 5px;
}

a:link
{
    color: white;
    text-decoration: none;
}

#settings a:hover
{
    color: #E7E7E7;
    text-shadow: 0 0 0.2em black, 0 0 0.2em #2303FF;      
}