.center-block
{
    float: none !important;
}

#background
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    background-size: cover;  
    background-color: #DADFE1;
}

/* Date and time */
#datetime
{
    text-align: center;
    padding: 11%;
}

.time 
{
    font-size: 7em;
}   

.date 
{
    font-size: 3em;
}

.purple-shadow
{
    color: white;
    text-shadow: 0 0 0.2em black, 0 0 0.2em #87F, 0 0 0.2em #87F;
    transition: text-shadow 1s;
}

.blue-shadow
{
    color: white;
    text-shadow: 0 0 0.2em black, 0 0 0.2em #4775FF, 0 0 0.5em #4775FF;
    transition: text-shadow 1s;
}

#datetime p
{
    color: white;
    text-shadow: 0 0 0.2em black, 0 0 0.2em #87F, 0 0 0.2em #87F;
    transition: text-shadow 1s;
    margin-top: 5%;
}

#datetime h1:hover, #datetime h2:hover, #datetime p:hover
{
    text-shadow: 0 0 0.2em black, 0 0 0.2em #2303FF, 0 0 0.2em #2303FF;  
}

/* Weather */
#showWeather
{
    opacity: 0;
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    background-color: #00248F;
    color: white;
    font-size: 0.75em;
    transition: opacity 0.5s;
}

#today:hover
{
    cursor: pointer;
}

#userLocation
{
    margin-top: 5px;
    margin-bottom: 0;
}

#weather
{
    position: absolute;
    top: 0;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    padding: 10px;
    padding-top: 0px;
    margin: auto;
}

.weather-day
{
    display: inline-block;
    padding: 10px 10px 0px;
    text-align: center;
}

.weather-day p
{
    margin: 0;
}

.weekday
{
    font-size: 0.7em;
}

.conditions
{
    font-size: 0.8em;
    font-weight: bold;
}

.temperature
{
    color: #00248F;
}

/* Water intake */
#water
{
    position: absolute;
    left: 30px;
    bottom: 0;
}

#showWater
{
    position: absolute;
    left: 0;
    top: 93%;
    z-index: 1;
}

/* To-do list */
#toDo
{
    display: inline-block;
    position: absolute;
    width: 23%;
    min-height: 50%;
    max-height: 75%;
    overflow-y: auto; 
    right: 0;
    bottom: 0;
    /*background-color: rgba(0, 0, 0, 0.6);*/
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    padding: 10px;
}

#showToDo
{
    position: absolute;
    right: 0;
    top: 93%;
    z-index: 1;
}

#toDo h4
{
    font-family: sans-serif;
    font-size: 1em;
}

.checkTask, .taskDescription, .deleteTask
{
    vertical-align: middle;
}

.taskDescription.done
{
    text-decoration: line-through;
    color: #E7E7E7;
}

#toDo textarea {
    resize: none;
    overflow: hidden;
    background-color: inherit;
    border: none;
    outline: none;
    width: 80%;
}

.task .glyphicon {
    font-size: 1.25em;
}

.deleteTask {
    opacity: 0;
}

/* Buttons */
#settings
{
    text-align: right;
}

a.glyphicon, a:link.glyphicon
{
    color: white;
    text-shadow: 0 0 0.2em black, 0 0 0.2em #87F;
    font-size: 2.25em;
    padding: 5px;
    text-decoration: none;
}

a:hover.glyphicon
{
    color: #E7E7E7;
    text-shadow: 0 0 0.2em black, 0 0 0.2em #2303FF;   
    cursor: pointer;
    text-decoration: none;
}

/* Settings */
.background 
{
    background-color: #DADFE1;
}

.settings h1
{
    text-align: center;
    font-size: 4em;
    color: white;
    text-shadow: 0 0 0.15em black, 0 0 0.5em #87F, 0 0 0.1em #87F;
}

.settings h3
{
    display: table;
    color: white;
    font-size: 2em;
    text-shadow: 0 0 0.1em black, 0 0 0.5em #87F, 0 0 0.2em #87F;
    margin-top: 30px;
}

.heading
{
    position: relative;
    display: block;
    width: 420px;
    height: 2px;
    background-color: white;
    left: -375px;
    margin: 10px 0px 15px;
    box-shadow: 0px 0px 10px 0px #87F;
    border-radius: 5px 5px 5px 5px;
}