/* Date and time */
#time
{
    text-align: center;
    color: white;
    padding: 11%;
}

#time h1
{
    font-size: 7em;
    text-shadow: 0 0 0.2em black, 0 0 0.2em #87F;
    transition: text-shadow 1s;
}

#time h2
{
    font-size: 3em;
    text-shadow: 0 0 0.2em black, 0 0 0.2em #4775FF;
    transition: text-shadow 1s;
}

#time h1:hover
{
    text-shadow: 0 0 0.2em black, 0 0 0.2em #2303FF;  
}

#time h2:hover
{
    text-shadow: 0 0 0.2em black, 0 0 0.2em #00248F;  
}

/* Weather */
#userLocation
{
    margin-top: 1%;
    margin-bottom: 0;
}

#weather
{
    position: absolute;
    top: 0;
    left: 10px;
    width: 100%;
}

.weather-day
{
    display: inline-block;
    padding-top: 10px;
    padding-right: 30px;
    text-align: center;
}

.weather-day p
{
    margin: 0;
}

.weekday
{
    font-size: 0.7em;
}

.conditions
{
    font-size: 0.8em;
    font-weight: bold;
}

.temperature
{
    color: #00248F;
}

/* Buttons */
#settings
{
    text-align: right;
}

#settings .glyphicon
{
    text-shadow: 0 0 0.2em black, 0 0 0.2em #87F;
    font-size: 2em;
    padding: 5px;
}

#settings a:link
{
    color: white;
    text-decoration: none;
}

#settings a:hover
{
    color: #E7E7E7;
    text-shadow: 0 0 0.2em black, 0 0 0.2em #2303FF;      
}