<div id="settings">
    <a href="#/settings" class="glyphicon glyphicon-cog"></a>
</div>
<div id="background" ng-style="{ 'background-image': 'url({{ backgroundImage }})' }">
    <div id="time" ng-controller="ClockController">
        <h1 class="time">{{ clock | date : "hh mm ss a" }}</h1>
        <h2 class="time">{{ clock | date : "MM dd yyyy" }}</h2>
        <p ng-show="showThisIsNow">this is now. what are you up to?</p>
    </div>
    <div id="weather" ng-controller="WeatherController" ng-show="userLocation">
        <p id="userLocation"><span class="glyphicon glyphicon-map-marker"></span> {{ userLocation }}</p>
        <div class="weather-day" id="today" ng-mouseover="showWeatherHover()" ng-click="showForecast = !showForecast" ng-show="weather.today">
            <img class="{{ weather.today.icon }}" ng-src="{{ weather.today.icon_url }}">
            <p class="weekday" ng-show="showForecast">Today<p>
            <p class="conditions">{{ weather.today.conditions }}</p>
            <p class="temperature"><span class="high">{{ weather.today.high.celsius }}</span>  |  <span class="low">{{ weather.today.low.celsius }}</span></p>
            <div id="showWeather"></div>
        </div>
        <div class="weather-day" ng-show="showForecast" ng-repeat="day in weather.forecast.forecastday" ng-if="!$first">
            <img class="{{ day.icon }}" ng-src="{{ day.icon_url }}">
            <p class="weekday">{{ day.date.weekday }}</p>
            <p class="conditions">{{ day.conditions }}</p>
            <p class="temperature"><span class="high">{{ day.high.celsius }}</span>  |  <span class="low">{{ day.low.celsius }}</span></p>
        </div>
    </div>
    <a class="glyphicon glyphicon-list-alt" id="showToDo" ng-click="showToDoList = !showToDoList"></a>
    <div id="toDo" ng-controller="ToDoController" ng-show="showToDoList">
        <h4>{{ taskCount }} things to do:</h4>
        <to-do-item data-index="{{ user.tasks.indexOf(task) }}" ng-repeat="task in user.tasks"></to-do-item>
        <to-do-item id="newTask"></to-do-item>
    </div>
    <a class="glyphicon glyphicon-tint" id="showWater" ng-click="showWaterIntake = !showWaterIntake"></a>
    <div class="col-md-3" id="water" ng-controller="WaterController" ng-show="showWaterIntake">
        <h4>Daily Water Intake</h4>
        <progressbar class="progress-striped" max="sipsGoal" value="sips">
            <span style="color:black; white-space:nowrap;">{{ sips }} / {{ sipsGoal }} sips</span>
        </progressbar>
    </div> 
</div>